{
  "presets": [
    "react-app",
    ["@babel/env", { "targets": { "node": 6 } }]
  ],
  "plugins": [
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ],
    [
      "react-intl",
      {
        "messagesDir": "./build/messages",
        "extractSourceLocation": true
      }
    ],
    ["babel-plugin-styled-components"],
    "lodash",
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./src/components",
            "rootPathPrefix": "components/"
          },
          {
            "rootPathSuffix": "./src/utils",
            "rootPathPrefix": "utils/"
          },
          {
            "rootPathSuffix": "./src/pages",
            "rootPathPrefix": "pages/"
          },
          {
            "rootPathSuffix": "./src/images",
            "rootPathPrefix": "images/"
          }
        ]
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "lodash",
        "transform-react-remove-prop-types",
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-transform-react-constant-elements"
      ]
    }
  }
}
